{% extends "base.html" %}

{% block title %}Football Stats | {{country.name}} {% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/country.js') }}" defer></script>
{% endblock %}

{% block heading %}{{country.name}}{% endblock %}

{% block content %}
    <div class="search-options">
        <div class="checkbox-panel">
            <div class="checkbox-options">
                <input type="checkbox" id="competition">
                <label for="competition">Competition</label>
            </div>
            <div class="checkbox-options">
                <input type="checkbox" id="team">
                <label for="team">Team</label>
            </div>
            <div class="checkbox-options">
                <input type="checkbox" id="favorites">
                <label for="favorites">Favorites</label>
            </div>
        </div>
        <div class="search-panel">
            <input type="text" placeholder="Search..." aria-label="Search">
        </div>
    </div>
    <div class="search-results">
        <div class="results-tabs">
            <button type="button" id="results-competition-tab">Competitions</button>
            <button type="button" id="results-team-tab">Teams</button>
        </div>

        <section class="competitions">
            <h3>Competitions</h3>
            <ul class="results-competitions">
                {% for competition in competitions %}
                    <li>{{ competition }}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="teams" hidden>
            <h3>Teams</h3>
            <ul class="results-teams">
                {% for team in teams %}
                    <li>{{ team }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}