{% extends "base.html" %}

{% block title %}Football Stats | Home{% endblock %}

{% block heading %}Home{% endblock %}

{% block favorites_heading %}
    <h2>Favorites</h2>
{% endblock %}

{% block favorites_state %}{% endblock %}

{% block content %}
    <div class="search-options">
        <div class="checkbox-panel">
            <div class="checkbox-options">
                <input type="checkbox" id="country">
                <label for="country">Country</label>
            </div>
            <div class="checkbox-options">
                <input type="checkbox" id="competition">
                <label for="competition">Competition</label>
            </div>
            <div class="checkbox-options">
                <input type="checkbox" id="team">
                <label for="team">Team</label>
            </div>
            <div class="checkbox-options">
                <input type="checkbox" id="favorites">
                <label for="favorites">Favorites</label>
            </div>
        </div>
        <div class="search-panel">
            <input type="text" placeholder="Search..." aria-label="Search">
        </div>
    </div>
    <div class="search-results">
        <section class="countries">
            <h3>Countries</h3>
            <ul class="results-countries">
                {% for country in countries %}
                    <li>{{country}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="competitions">
            <h3>Competitions</h3>
            <ul class="results-competitions">
                {% for competition in competitions %}
                    <li>{{competition}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="teams">
            <h3>Teams</h3>
            <ul class="results-teams">
                {% for team in teams %}
                    <li>{{team}}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}